/* Root CSS variables for easy theme management */
:root {

  /* Dark color for primary text */
  --primary-color: #4d4c49;

  /* Secondary color, slightly lighter */
  --secondary-color: #484029;

  /* Accent color 1 */
  --accent1-color: #484029;

  /* Accent color 2 */
  --accent2-color: #37471e;

  /* Accent color 3 */
  --accent3-color: #254768;

  /* White color */
  --white: #f3eded;

  /* Black color */
  --black: #0e0c0c;

  /* Button Background colors */
  --button-color: #714a0e;
  --button-color-hover: #f3a530;

  --cta-button-color: #1bdd01;
  --cta-button-color-hover: #04083e;

  /* Top Navigation Colors */
  /* Background color for navigation bar */
  --nav-background-color: var(--accent2-color);
  /* Color for navigation links */
  --nav-link-color: #fff;
  /* Hover color for links */
  --nav-hover-link-color: var(--accent2-color);
  /* Background color on hover for navigation links */
  --nav-hover-background-color: #fff;

  /* Font for headings */
  --heading-font: 'Arvo', 'sans-serif';
  /* Font for paragraphs */
  --paragraph-font: 'Oswald', 'sans-serif';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
  least 10 images are required
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 4rem;
  height: 4rem;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
  /* white text - make sure there is enough contrast with the background-color */
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #ffffff71;
}

.hero article img {
  float: right;
  width: 125px;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}